SharpSphere/Connected Services/vSphere/vim-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:reflect="urn:reflect" xmlns:vim25="urn:vim25" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:vim25" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="core-types.xsd" />
  <xsd:import schemaLocation="reflect-types.xsd" namespace="urn:reflect" />
  <xsd:include schemaLocation="query-types.xsd" />
  <xsd:complexType name="AboutInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="vendor" type="xsd:string" />
          <xsd:element name="version" type="xsd:string" />
          <xsd:element name="build" type="xsd:string" />
          <xsd:element minOccurs="0" name="localeVersion" type="xsd:string" />
          <xsd:element minOccurs="0" name="localeBuild" type="xsd:string" />
          <xsd:element name="osType" type="xsd:string" />
          <xsd:element name="productLineId" type="xsd:string" />
          <xsd:element name="apiType" type="xsd:string" />
          <xsd:element name="apiVersion" type="xsd:string" />
          <xsd:element minOccurs="0" name="instanceUuid" type="xsd:string" />
          <xsd:element minOccurs="0" name="licenseProductName" type="xsd:string" />
          <xsd:element minOccurs="0" name="licenseProductVersion" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Description">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="summary" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KeyValue">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LatencySensitivity">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="level" type="vim25:LatencySensitivitySensitivityLevel" />
          <xsd:element minOccurs="0" name="sensitivity" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LatencySensitivitySensitivityLevel">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="low" />
      <xsd:enumeration value="normal" />
      <xsd:enumeration value="medium" />
      <xsd:enumeration value="high" />
      <xsd:enumeration value="custom" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ResourceAllocationInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reservation" type="xsd:long" />
          <xsd:element minOccurs="0" name="expandableReservation" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="limit" type="xsd:long" />
          <xsd:element minOccurs="0" name="shares" type="vim25:SharesInfo" />
          <xsd:element minOccurs="0" name="overheadLimit" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceContent">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="rootFolder" type="vim25:ManagedObjectReference" />
          <xsd:element name="propertyCollector" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="viewManager" type="vim25:ManagedObjectReference" />
          <xsd:element name="about" type="vim25:AboutInfo" />
          <xsd:element minOccurs="0" name="setting" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="userDirectory" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="sessionManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="authorizationManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="serviceManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="perfManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="scheduledTaskManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="alarmManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="eventManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="taskManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="extensionManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="customizationSpecManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="guestCustomizationManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="customFieldsManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="accountManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="diagnosticManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="licenseManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="searchIndex" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="fileManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="datastoreNamespaceManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="virtualDiskManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="virtualizationManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="snmpSystem" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="vmProvisioningChecker" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="vmCompatibilityChecker" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="ovfManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="ipPoolManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="dvSwitchManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="hostProfileManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="clusterProfileManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="complianceManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="localizationManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="storageResourceManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="guestOperationsManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="overheadMemoryManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="certificateManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="ioFilterManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="vStorageObjectManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="hostSpecManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="cryptoManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="healthUpdateManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="failoverClusterConfigurator" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="failoverClusterManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="tenantManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="siteInfoManager" type="vim25:ManagedObjectReference" />
          <xsd:element minOccurs="0" name="storageQueryManager" type="vim25:ManagedObjectReference" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SharesInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="shares" type="xsd:int" />
          <xsd:element name="level" type="vim25:SharesLevel" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SharesLevel">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="low" />
      <xsd:enumeration value="normal" />
      <xsd:enumeration value="high" />
      <xsd:enumeration value="custom" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="UserSession">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="userName" type="xsd:string" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="loginTime" type="xsd:dateTime" />
          <xsd:element name="lastActiveTime" type="xsd:dateTime" />
          <xsd:element name="locale" type="xsd:string" />
          <xsd:element name="messageLocale" type="xsd:string" />
          <xsd:element minOccurs="0" name="extensionSession" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="ipAddress" type="xsd:string" />
          <xsd:element minOccurs="0" name="userAgent" type="xsd:string" />
          <xsd:element minOccurs="0" name="callCount" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CryptoKeyId">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="keyId" type="xsd:string" />
          <xsd:element minOccurs="0" name="providerId" type="vim25:KeyProviderId" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KeyProviderId">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ManagedByInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="extensionKey" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FileFault">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:VimFault">
        <xsd:sequence>
          <xsd:element name="file" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestOperationsFault">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:VimFault">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InvalidLocale">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:VimFault">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InvalidLogin">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:VimFault">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InvalidState">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:VimFault">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TaskInProgress">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:VimFault">
        <xsd:sequence>
          <xsd:element name="task" type="vim25:ManagedObjectReference" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VimFault">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:MethodFault">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HostCpuIdInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="level" type="xsd:int" />
          <xsd:element minOccurs="0" name="vendor" type="xsd:string" />
          <xsd:element minOccurs="0" name="eax" type="xsd:string" />
          <xsd:element minOccurs="0" name="ebx" type="xsd:string" />
          <xsd:element minOccurs="0" name="ecx" type="xsd:string" />
          <xsd:element minOccurs="0" name="edx" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetDhcpConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ipv6" type="vim25:NetDhcpConfigInfoDhcpOptions" />
          <xsd:element minOccurs="0" name="ipv4" type="vim25:NetDhcpConfigInfoDhcpOptions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetDhcpConfigInfoDhcpOptions">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="enable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="config" type="vim25:KeyValue" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetDnsConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="dhcp" type="xsd:boolean" />
          <xsd:element name="hostName" type="xsd:string" />
          <xsd:element name="domainName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ipAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchDomain" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetIpConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ipAddress" type="vim25:NetIpConfigInfoIpAddress" />
          <xsd:element minOccurs="0" name="dhcp" type="vim25:NetDhcpConfigInfo" />
          <xsd:element minOccurs="0" name="autoConfigurationEnabled" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetIpConfigInfoIpAddress">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="ipAddress" type="xsd:string" />
          <xsd:element name="prefixLength" type="xsd:int" />
          <xsd:element minOccurs="0" name="origin" type="xsd:string" />
          <xsd:element minOccurs="0" name="state" type="xsd:string" />
          <xsd:element minOccurs="0" name="lifetime" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetIpRouteConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ipRoute" type="vim25:NetIpRouteConfigInfoIpRoute" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetIpRouteConfigInfoGateway">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ipAddress" type="xsd:string" />
          <xsd:element minOccurs="0" name="device" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetIpRouteConfigInfoIpRoute">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="network" type="xsd:string" />
          <xsd:element name="prefixLength" type="xsd:int" />
          <xsd:element name="gateway" type="vim25:NetIpRouteConfigInfoGateway" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetBIOSConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="mode" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OptionValue">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VAppIPAssignmentInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supportedAllocationScheme" type="xsd:string" />
          <xsd:element minOccurs="0" name="ipAllocationPolicy" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supportedIpProtocol" type="xsd:string" />
          <xsd:element minOccurs="0" name="ipProtocol" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VAppOvfSectionInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="key" type="xsd:int" />
          <xsd:element minOccurs="0" name="namespace" type="xsd:string" />
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" name="atEnvelopeLevel" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="contents" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VAppProductInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:int" />
          <xsd:element minOccurs="0" name="classId" type="xsd:string" />
          <xsd:element minOccurs="0" name="instanceId" type="xsd:string" />
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="vendor" type="xsd:string" />
          <xsd:element minOccurs="0" name="version" type="xsd:string" />
          <xsd:element minOccurs="0" name="fullVersion" type="xsd:string" />
          <xsd:element minOccurs="0" name="vendorUrl" type="xsd:string" />
          <xsd:element minOccurs="0" name="productUrl" type="xsd:string" />
          <xsd:element minOccurs="0" name="appUrl" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VAppPropertyInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:int" />
          <xsd:element minOccurs="0" name="classId" type="xsd:string" />
          <xsd:element minOccurs="0" name="instanceId" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" name="category" type="xsd:string" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" name="typeReference" type="xsd:string" />
          <xsd:element minOccurs="0" name="userConfigurable" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="defaultValue" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VmConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="product" type="vim25:VAppProductInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property" type="vim25:VAppPropertyInfo" />
          <xsd:element name="ipAssignment" type="vim25:VAppIPAssignmentInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="eula" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ovfSection" type="vim25:VAppOvfSectionInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ovfEnvironmentTransport" type="xsd:string" />
          <xsd:element name="installBootRequired" type="xsd:boolean" />
          <xsd:element name="installBootStopDelay" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineAffinityInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="affinitySet" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineBootOptions">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="bootDelay" type="xsd:long" />
          <xsd:element minOccurs="0" name="enterBIOSSetup" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="efiSecureBootEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="bootRetryEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="bootRetryDelay" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="bootOrder" type="vim25:VirtualMachineBootOptionsBootableDevice" />
          <xsd:element minOccurs="0" name="networkBootProtocol" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineBootOptionsBootableDevice">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="changeVersion" type="xsd:string" />
          <xsd:element name="modified" type="xsd:dateTime" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="guestFullName" type="xsd:string" />
          <xsd:element name="version" type="xsd:string" />
          <xsd:element name="uuid" type="xsd:string" />
          <xsd:element minOccurs="0" name="createDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="instanceUuid" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="npivNodeWorldWideName" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="npivPortWorldWideName" type="xsd:long" />
          <xsd:element minOccurs="0" name="npivWorldWideNameType" type="xsd:string" />
          <xsd:element minOccurs="0" name="npivDesiredNodeWwns" type="xsd:short" />
          <xsd:element minOccurs="0" name="npivDesiredPortWwns" type="xsd:short" />
          <xsd:element minOccurs="0" name="npivTemporaryDisabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="npivOnNonRdmDisks" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="locationId" type="xsd:string" />
          <xsd:element name="template" type="xsd:boolean" />
          <xsd:element name="guestId" type="xsd:string" />
          <xsd:element name="alternateGuestName" type="xsd:string" />
          <xsd:element minOccurs="0" name="annotation" type="xsd:string" />
          <xsd:element name="files" type="vim25:VirtualMachineFileInfo" />
          <xsd:element minOccurs="0" name="tools" type="vim25:ToolsConfigInfo" />
          <xsd:element name="flags" type="vim25:VirtualMachineFlagInfo" />
          <xsd:element minOccurs="0" name="consolePreferences" type="vim25:VirtualMachineConsolePreferences" />
          <xsd:element name="defaultPowerOps" type="vim25:VirtualMachineDefaultPowerOpInfo" />
          <xsd:element name="hardware" type="vim25:VirtualHardware" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="vcpuConfig" type="vim25:VirtualMachineVcpuConfig" />
          <xsd:element minOccurs="0" name="cpuAllocation" type="vim25:ResourceAllocationInfo" />
          <xsd:element minOccurs="0" name="memoryAllocation" type="vim25:ResourceAllocationInfo" />
          <xsd:element minOccurs="0" name="latencySensitivity" type="vim25:LatencySensitivity" />
          <xsd:element minOccurs="0" name="memoryHotAddEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="cpuHotAddEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="cpuHotRemoveEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="hotPlugMemoryLimit" type="xsd:long" />
          <xsd:element minOccurs="0" name="hotPlugMemoryIncrementSize" type="xsd:long" />
          <xsd:element minOccurs="0" name="cpuAffinity" type="vim25:VirtualMachineAffinityInfo" />
          <xsd:element minOccurs="0" name="memoryAffinity" type="vim25:VirtualMachineAffinityInfo" />
          <xsd:element minOccurs="0" name="networkShaper" type="vim25:VirtualMachineNetworkShaperInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="extraConfig" type="vim25:OptionValue" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="cpuFeatureMask" type="vim25:HostCpuIdInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="datastoreUrl" type="vim25:VirtualMachineConfigInfoDatastoreUrlPair" />
          <xsd:element minOccurs="0" name="swapPlacement" type="xsd:string" />
          <xsd:element minOccurs="0" name="bootOptions" type="vim25:VirtualMachineBootOptions" />
          <xsd:element minOccurs="0" name="ftInfo" type="vim25:FaultToleranceConfigInfo" />
          <xsd:element minOccurs="0" name="repConfig" type="vim25:ReplicationConfigSpec" />
          <xsd:element minOccurs="0" name="vAppConfig" type="vim25:VmConfigInfo" />
          <xsd:element minOccurs="0" name="vAssertsEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="changeTrackingEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="firmware" type="xsd:string" />
          <xsd:element minOccurs="0" name="maxMksConnections" type="xsd:int" />
          <xsd:element minOccurs="0" name="guestAutoLockEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="managedBy" type="vim25:ManagedByInfo" />
          <xsd:element minOccurs="0" name="memoryReservationLockedToMax" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="initialOverhead" type="vim25:VirtualMachineConfigInfoOverheadInfo" />
          <xsd:element minOccurs="0" name="nestedHVEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="vPMCEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="scheduledHardwareUpgradeInfo" type="vim25:ScheduledHardwareUpgradeInfo" />
          <xsd:element minOccurs="0" name="forkConfigInfo" type="vim25:VirtualMachineForkConfigInfo" />
          <xsd:element minOccurs="0" name="vFlashCacheReservation" type="xsd:long" />
          <xsd:element minOccurs="0" name="vmxConfigChecksum" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="messageBusTunnelEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="vmStorageObjectId" type="xsd:string" />
          <xsd:element minOccurs="0" name="swapStorageObjectId" type="xsd:string" />
          <xsd:element minOccurs="0" name="keyId" type="vim25:CryptoKeyId" />
          <xsd:element minOccurs="0" name="guestIntegrityInfo" type="vim25:VirtualMachineGuestIntegrityInfo" />
          <xsd:element minOccurs="0" name="migrateEncryption" type="xsd:string" />
          <xsd:element minOccurs="0" name="sgxInfo" type="vim25:VirtualMachineSgxInfo" />
          <xsd:element minOccurs="0" name="contentLibItemInfo" type="vim25:VirtualMachineContentLibraryItemInfo" />
          <xsd:element minOccurs="0" name="guestMonitoringModeInfo" type="vim25:VirtualMachineGuestMonitoringModeInfo" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineConfigInfoDatastoreUrlPair">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="url" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineConfigInfoOverheadInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="initialMemoryReservation" type="xsd:long" />
          <xsd:element minOccurs="0" name="initialSwapReservation" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineConsolePreferences">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="powerOnWhenOpened" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="enterFullScreenOnPowerOn" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="closeOnPowerOffOrSuspend" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineContentLibraryItemInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="contentLibraryItemUuid" type="xsd:string" />
          <xsd:element minOccurs="0" name="contentLibraryItemVersion" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineDefaultPowerOpInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="powerOffType" type="xsd:string" />
          <xsd:element minOccurs="0" name="suspendType" type="xsd:string" />
          <xsd:element minOccurs="0" name="resetType" type="xsd:string" />
          <xsd:element minOccurs="0" name="defaultPowerOffType" type="xsd:string" />
          <xsd:element minOccurs="0" name="defaultSuspendType" type="xsd:string" />
          <xsd:element minOccurs="0" name="defaultResetType" type="xsd:string" />
          <xsd:element minOccurs="0" name="standbyAction" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FaultToleranceConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="role" type="xsd:int" />
          <xsd:element maxOccurs="unbounded" name="instanceUuids" type="xsd:string" />
          <xsd:element maxOccurs="unbounded" name="configPaths" type="xsd:string" />
          <xsd:element minOccurs="0" name="orphaned" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineFileInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="vmPathName" type="xsd:string" />
          <xsd:element minOccurs="0" name="snapshotDirectory" type="xsd:string" />
          <xsd:element minOccurs="0" name="suspendDirectory" type="xsd:string" />
          <xsd:element minOccurs="0" name="logDirectory" type="xsd:string" />
          <xsd:element minOccurs="0" name="ftMetadataDirectory" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineFlagInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="disableAcceleration" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="enableLogging" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="useToe" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="runWithDebugInfo" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="monitorType" type="xsd:string" />
          <xsd:element minOccurs="0" name="htSharing" type="xsd:string" />
          <xsd:element minOccurs="0" name="snapshotDisabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="snapshotLocked" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="diskUuidEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="virtualMmuUsage" type="xsd:string" />
          <xsd:element minOccurs="0" name="virtualExecUsage" type="xsd:string" />
          <xsd:element minOccurs="0" name="snapshotPowerOffBehavior" type="xsd:string" />
          <xsd:element minOccurs="0" name="recordReplayEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="faultToleranceType" type="xsd:string" />
          <xsd:element minOccurs="0" name="cbrcCacheEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="vvtdEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="vbsEnabled" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineForkConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="parentEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="childForkGroupId" type="xsd:string" />
          <xsd:element minOccurs="0" name="parentForkGroupId" type="xsd:string" />
          <xsd:element minOccurs="0" name="childType" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="toolsStatus" type="vim25:VirtualMachineToolsStatus" />
          <xsd:element minOccurs="0" name="toolsVersionStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="toolsVersionStatus2" type="xsd:string" />
          <xsd:element minOccurs="0" name="toolsRunningStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="toolsVersion" type="xsd:string" />
          <xsd:element minOccurs="0" name="toolsInstallType" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestId" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestFamily" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestFullName" type="xsd:string" />
          <xsd:element minOccurs="0" name="hostName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ipAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="net" type="vim25:GuestNicInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ipStack" type="vim25:GuestStackInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="disk" type="vim25:GuestDiskInfo" />
          <xsd:element minOccurs="0" name="screen" type="vim25:GuestScreenInfo" />
          <xsd:element name="guestState" type="xsd:string" />
          <xsd:element minOccurs="0" name="appHeartbeatStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestKernelCrashed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="appState" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestOperationsReady" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="interactiveGuestOperationsReady" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="guestStateChangeSupported" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="generationInfo" type="vim25:GuestInfoNamespaceGenerationInfo" />
          <xsd:element minOccurs="0" name="hwVersion" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VirtualMachineToolsStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="toolsNotInstalled" />
      <xsd:enumeration value="toolsNotRunning" />
      <xsd:enumeration value="toolsOld" />
      <xsd:enumeration value="toolsOk" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GuestInfoVirtualDiskMapping">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestDiskInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="diskPath" type="xsd:string" />
          <xsd:element minOccurs="0" name="capacity" type="xsd:long" />
          <xsd:element minOccurs="0" name="freeSpace" type="xsd:long" />
          <xsd:element minOccurs="0" name="filesystemType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="mappings" type="vim25:GuestInfoVirtualDiskMapping" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestNicInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="network" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ipAddress" type="xsd:string" />
          <xsd:element minOccurs="0" name="macAddress" type="xsd:string" />
          <xsd:element name="connected" type="xsd:boolean" />
          <xsd:element name="deviceConfigId" type="xsd:int" />
          <xsd:element minOccurs="0" name="dnsConfig" type="vim25:NetDnsConfigInfo" />
          <xsd:element minOccurs="0" name="ipConfig" type="vim25:NetIpConfigInfo" />
          <xsd:element minOccurs="0" name="netBIOSConfig" type="vim25:NetBIOSConfigInfo" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestStackInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dnsConfig" type="vim25:NetDnsConfigInfo" />
          <xsd:element minOccurs="0" name="ipRouteConfig" type="vim25:NetIpRouteConfigInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ipStackConfig" type="vim25:KeyValue" />
          <xsd:element minOccurs="0" name="dhcpConfig" type="vim25:NetDhcpConfigInfo" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestScreenInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="width" type="xsd:int" />
          <xsd:element name="height" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestInfoNamespaceGenerationInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="generationNo" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineGuestIntegrityInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="enabled" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineGuestMonitoringModeInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="gmmFile" type="xsd:string" />
          <xsd:element minOccurs="0" name="gmmAppliance" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineNetworkShaperInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="enabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="peakBps" type="xsd:long" />
          <xsd:element minOccurs="0" name="averageBps" type="xsd:long" />
          <xsd:element minOccurs="0" name="burstSize" type="xsd:long" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReplicationConfigSpec">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="generation" type="xsd:long" />
          <xsd:element name="vmReplicationId" type="xsd:string" />
          <xsd:element name="destination" type="xsd:string" />
          <xsd:element name="port" type="xsd:int" />
          <xsd:element name="rpo" type="xsd:long" />
          <xsd:element name="quiesceGuestEnabled" type="xsd:boolean" />
          <xsd:element name="paused" type="xsd:boolean" />
          <xsd:element name="oppUpdatesEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="netCompressionEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="netEncryptionEnabled" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="encryptionDestination" type="xsd:string" />
          <xsd:element minOccurs="0" name="encryptionPort" type="xsd:int" />
          <xsd:element minOccurs="0" name="remoteCertificateThumbprint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="disk" type="vim25:ReplicationInfoDiskSettings" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReplicationInfoDiskSettings">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:int" />
          <xsd:element name="diskReplicationId" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ScheduledHardwareUpgradeInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="upgradePolicy" type="xsd:string" />
          <xsd:element minOccurs="0" name="versionKey" type="xsd:string" />
          <xsd:element minOccurs="0" name="scheduledHardwareUpgradeStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="fault" type="vim25:LocalizedMethodFault" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineSgxInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="epcSize" type="xsd:long" />
          <xsd:element minOccurs="0" name="flcMode" type="xsd:string" />
          <xsd:element minOccurs="0" name="lePubKeyHash" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ToolsConfigInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="toolsVersion" type="xsd:int" />
          <xsd:element minOccurs="0" name="toolsInstallType" type="xsd:string" />
          <xsd:element minOccurs="0" name="afterPowerOn" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="afterResume" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="beforeGuestStandby" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="beforeGuestShutdown" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="beforeGuestReboot" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="toolsUpgradePolicy" type="xsd:string" />
          <xsd:element minOccurs="0" name="pendingCustomization" type="xsd:string" />
          <xsd:element minOccurs="0" name="customizationKeyId" type="vim25:CryptoKeyId" />
          <xsd:element minOccurs="0" name="syncTimeWithHost" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="lastInstallInfo" type="vim25:ToolsConfigInfoToolsLastInstallInfo" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ToolsConfigInfoToolsLastInstallInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="counter" type="xsd:int" />
          <xsd:element minOccurs="0" name="fault" type="vim25:LocalizedMethodFault" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineVcpuConfig">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="latencySensitivity" type="vim25:LatencySensitivity" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualHardware">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="numCPU" type="xsd:int" />
          <xsd:element minOccurs="0" name="numCoresPerSocket" type="xsd:int" />
          <xsd:element name="memoryMB" type="xsd:int" />
          <xsd:element minOccurs="0" name="virtualICH7MPresent" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="virtualSMCPresent" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="device" type="vim25:VirtualDevice" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualDevice">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:int" />
          <xsd:element minOccurs="0" name="deviceInfo" type="vim25:Description" />
          <xsd:element minOccurs="0" name="backing" type="vim25:VirtualDeviceBackingInfo" />
          <xsd:element minOccurs="0" name="connectable" type="vim25:VirtualDeviceConnectInfo" />
          <xsd:element minOccurs="0" name="slotInfo" type="vim25:VirtualDeviceBusSlotInfo" />
          <xsd:element minOccurs="0" name="controllerKey" type="xsd:int" />
          <xsd:element minOccurs="0" name="unitNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualDeviceBackingInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualDeviceConnectInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="migrateConnect" type="xsd:string" />
          <xsd:element name="startConnected" type="xsd:boolean" />
          <xsd:element name="allowGuestControl" type="xsd:boolean" />
          <xsd:element name="connected" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualDeviceBusSlotInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestFileAttributes">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="modificationTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="accessTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="symlinkTarget" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestWindowsFileAttributes">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:GuestFileAttributes">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="hidden" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="readOnly" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="createTime" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestFileInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="path" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="size" type="xsd:long" />
          <xsd:element name="attributes" type="vim25:GuestFileAttributes" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestListFileInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="files" type="vim25:GuestFileInfo" />
          <xsd:element name="remaining" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FileTransferInformation">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="attributes" type="vim25:GuestFileAttributes" />
          <xsd:element name="size" type="xsd:long" />
          <xsd:element name="url" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestAuthentication">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="interactiveSession" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NamePasswordAuthentication">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:GuestAuthentication">
        <xsd:sequence>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestProgramSpec">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="programPath" type="xsd:string" />
          <xsd:element name="arguments" type="xsd:string" />
          <xsd:element minOccurs="0" name="workingDirectory" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="envVariables" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestWindowsProgramSpec">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:GuestProgramSpec">
        <xsd:sequence>
          <xsd:element name="startMinimized" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuestProcessInfo">
    <xsd:complexContent mixed="false">
      <xsd:extension base="vim25:DynamicData">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="pid" type="xsd:long" />
          <xsd:element name="owner" type="xsd:string" />
          <xsd:element name="cmdLine" type="xsd:string" />
          <xsd:element name="startTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="exitCode" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>