VMware-vSphere-SDK-7.0.0-16447947/SDK/vsphere-ws/wsdl/vim25-mini/vim.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--
   Copyright 2005-2020 VMware, Inc.  All rights reserved.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vim25="urn:vim25" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:vim25">
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:vim25="urn:vim25" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:reflect="urn:reflect" targetNamespace="urn:vim25" elementFormDefault="qualified">
         <include schemaLocation="core-types.xsd"/>
         <import namespace="urn:reflect" schemaLocation="reflect-messagetypes.xsd"/>
         <include schemaLocation="query-messagetypes.xsd"/>
         <include schemaLocation="vim-messagetypes.xsd"/>
         <element name="versionURI" type="xsd:string"/>
         <element name="MethodFaultFault" type="vim25:MethodFault"/>
         <element name="RuntimeFaultFault" type="vim25:RuntimeFault"/>
         <element name="HostCommunicationFault" type="vim25:HostCommunication"/>
         <element name="HostNotConnectedFault" type="vim25:HostNotConnected"/>
         <element name="HostNotReachableFault" type="vim25:HostNotReachable"/>
         <element name="InvalidArgumentFault" type="vim25:InvalidArgument"/>
         <element name="InvalidRequestFault" type="vim25:InvalidRequest"/>
         <element name="InvalidTypeFault" type="vim25:InvalidType"/>
         <element name="ManagedObjectNotFoundFault" type="vim25:ManagedObjectNotFound"/>
         <element name="MethodNotFoundFault" type="vim25:MethodNotFound"/>
         <element name="NotEnoughLicensesFault" type="vim25:NotEnoughLicenses"/>
         <element name="NotImplementedFault" type="vim25:NotImplemented"/>
         <element name="NotSupportedFault" type="vim25:NotSupported"/>
         <element name="RequestCanceledFault" type="vim25:RequestCanceled"/>
         <element name="SecurityErrorFault" type="vim25:SecurityError"/>
         <element name="SystemErrorFault" type="vim25:SystemError"/>
         <element name="UnexpectedFaultFault" type="vim25:UnexpectedFault"/>
         <element name="InvalidCollectorVersionFault" type="vim25:InvalidCollectorVersion"/>
         <element name="InvalidPropertyFault" type="vim25:InvalidProperty"/>
         <element name="RetrieveProperties" type="vim25:RetrievePropertiesRequestType"/>
         <element name="RetrievePropertiesResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ObjectContent" minOccurs="0" maxOccurs="unbounded"/>
               </sequence>
            </complexType>
         </element>
         <element name="RetrievePropertiesEx" type="vim25:RetrievePropertiesExRequestType"/>
         <element name="RetrievePropertiesExResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:RetrieveResult" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>
         <element name="FindByIp" type="vim25:FindByIpRequestType"/>
         <element name="FindByIpResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>
         <element name="FindByInventoryPath" type="vim25:FindByInventoryPathRequestType"/>
         <element name="FindByInventoryPathResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>
         <element name="FindChild" type="vim25:FindChildRequestType"/>
         <element name="FindChildResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>
         <element name="FindAllByDnsName" type="vim25:FindAllByDnsNameRequestType"/>
         <element name="FindAllByDnsNameResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference" maxOccurs="unbounded"/>
               </sequence>
            </complexType>
         </element>
         <element name="FindAllByIp" type="vim25:FindAllByIpRequestType"/>
         <element name="FindAllByIpResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference" maxOccurs="unbounded"/>
               </sequence>
            </complexType>
         </element>
         <element name="RetrieveServiceContent" type="vim25:RetrieveServiceContentRequestType"/>
         <element name="RetrieveServiceContentResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ServiceContent"/>
               </sequence>
            </complexType>
         </element>
         <element name="Login" type="vim25:LoginRequestType"/>
         <element name="LoginResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:UserSession"/>
               </sequence>
            </complexType>
         </element>
         <element name="LoginBySSPI" type="vim25:LoginBySSPIRequestType"/>
         <element name="LoginBySSPIResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:UserSession"/>
               </sequence>
            </complexType>
         </element>
         <element name="AcquireGenericServiceTicket" type="vim25:AcquireGenericServiceTicketRequestType"/>
         <element name="AcquireGenericServiceTicketResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:SessionManagerGenericServiceTicket"/>
               </sequence>
            </complexType>
         </element>
         <element name="RetrieveUserGroups" type="vim25:RetrieveUserGroupsRequestType"/>
         <element name="RetrieveUserGroupsResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:UserSearchResult" minOccurs="0" maxOccurs="unbounded"/>
               </sequence>
            </complexType>
         </element>
         <element name="CreateSnapshot_Task" type="vim25:CreateSnapshotRequestType"/>
         <element name="CreateSnapshot_TaskResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference"/>
               </sequence>
            </complexType>
         </element>
         <element name="FileFaultFault" type="vim25:FileFault"/>
         <element name="GuestAuthenticationChallengeFault" type="vim25:GuestAuthenticationChallenge"/>
         <element name="GuestComponentsOutOfDateFault" type="vim25:GuestComponentsOutOfDate"/>
         <element name="GuestOperationsFaultFault" type="vim25:GuestOperationsFault"/>
         <element name="InvalidDatastoreFault" type="vim25:InvalidDatastore"/>
         <element name="InvalidGuestLoginFault" type="vim25:InvalidGuestLogin"/>
         <element name="InvalidLocaleFault" type="vim25:InvalidLocale"/>
         <element name="InvalidLoginFault" type="vim25:InvalidLogin"/>
         <element name="InvalidNameFault" type="vim25:InvalidName"/>
         <element name="InvalidPowerStateFault" type="vim25:InvalidPowerState"/>
         <element name="InvalidStateFault" type="vim25:InvalidState"/>
         <element name="MissingLinuxCustResourcesFault" type="vim25:MissingLinuxCustResources"/>
         <element name="MissingWindowsCustResourcesFault" type="vim25:MissingWindowsCustResources"/>
         <element name="NotFoundFault" type="vim25:NotFound"/>
         <element name="OperationDisabledByGuestFault" type="vim25:OperationDisabledByGuest"/>
         <element name="OperationNotSupportedByGuestFault" type="vim25:OperationNotSupportedByGuest"/>
         <element name="SSPIChallengeFault" type="vim25:SSPIChallenge"/>
         <element name="SnapshotFaultFault" type="vim25:SnapshotFault"/>
         <element name="TaskInProgressFault" type="vim25:TaskInProgress"/>
         <element name="TooManyGuestLogonsFault" type="vim25:TooManyGuestLogons"/>
         <element name="VmConfigFaultFault" type="vim25:VmConfigFault"/>
         <element name="SearchDatastore_Task" type="vim25:SearchDatastoreRequestType"/>
         <element name="SearchDatastore_TaskResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference"/>
               </sequence>
            </complexType>
         </element>
         <element name="RemoveSnapshot_Task" type="vim25:RemoveSnapshotRequestType"/>
         <element name="RemoveSnapshot_TaskResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:ManagedObjectReference"/>
               </sequence>
            </complexType>
         </element>
         <element name="AcquireCredentialsInGuest" type="vim25:AcquireCredentialsInGuestRequestType"/>
         <element name="AcquireCredentialsInGuestResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:GuestAuthentication"/>
               </sequence>
            </complexType>
         </element>
         <element name="DeleteFileInGuest" type="vim25:DeleteFileInGuestRequestType"/>
         <element name="DeleteFileInGuestResponse">
            <complexType/>
         </element>
         <element name="MoveFileInGuest" type="vim25:MoveFileInGuestRequestType"/>
         <element name="MoveFileInGuestResponse">
            <complexType/>
         </element>
         <element name="ListFilesInGuest" type="vim25:ListFilesInGuestRequestType"/>
         <element name="ListFilesInGuestResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:GuestListFileInfo"/>
               </sequence>
            </complexType>
         </element>
         <element name="InitiateFileTransferFromGuest" type="vim25:InitiateFileTransferFromGuestRequestType"/>
         <element name="InitiateFileTransferFromGuestResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:FileTransferInformation"/>
               </sequence>
            </complexType>
         </element>
         <element name="InitiateFileTransferToGuest" type="vim25:InitiateFileTransferToGuestRequestType"/>
         <element name="InitiateFileTransferToGuestResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="StartProgramInGuest" type="vim25:StartProgramInGuestRequestType"/>
         <element name="StartProgramInGuestResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="xsd:long"/>
               </sequence>
            </complexType>
         </element>
         <element name="ListProcessesInGuest" type="vim25:ListProcessesInGuestRequestType"/>
         <element name="ListProcessesInGuestResponse">
            <complexType>
               <sequence>
                  <element name="returnval" type="vim25:GuestProcessInfo" minOccurs="0" maxOccurs="unbounded"/>
               </sequence>
            </complexType>
         </element>
         </schema>
   </types>
   <message name="FindByIpRequestMsg">
      <part name="parameters" element="vim25:FindByIp"/>
   </message>
   <message name="FindByIpResponseMsg">
      <part name="parameters" element="vim25:FindByIpResponse"/>
   </message>
   <message name="FindByInventoryPathRequestMsg">
      <part name="parameters" element="vim25:FindByInventoryPath"/>
   </message>
   <message name="FindByInventoryPathResponseMsg">
      <part name="parameters" element="vim25:FindByInventoryPathResponse"/>
   </message>
   <message name="FindChildRequestMsg">
      <part name="parameters" element="vim25:FindChild"/>
   </message>
   <message name="FindChildResponseMsg">
      <part name="parameters" element="vim25:FindChildResponse"/>
   </message>
   <message name="FindAllByDnsNameRequestMsg">
      <part name="parameters" element="vim25:FindAllByDnsName"/>
   </message>
   <message name="FindAllByDnsNameResponseMsg">
      <part name="parameters" element="vim25:FindAllByDnsNameResponse"/>
   </message>
   <message name="FindAllByIpRequestMsg">
      <part name="parameters" element="vim25:FindAllByIp"/>
   </message>
   <message name="FindAllByIpResponseMsg">
      <part name="parameters" element="vim25:FindAllByIpResponse"/>
   </message>
   <message name="RetrieveServiceContentRequestMsg">
      <part name="parameters" element="vim25:RetrieveServiceContent"/>
   </message>
   <message name="RetrieveServiceContentResponseMsg">
      <part name="parameters" element="vim25:RetrieveServiceContentResponse"/>
   </message>
   <message name="LoginRequestMsg">
      <part name="parameters" element="vim25:Login"/>
   </message>
   <message name="LoginResponseMsg">
      <part name="parameters" element="vim25:LoginResponse"/>
   </message>
   <message name="LoginBySSPIRequestMsg">
      <part name="parameters" element="vim25:LoginBySSPI"/>
   </message>
   <message name="LoginBySSPIResponseMsg">
      <part name="parameters" element="vim25:LoginBySSPIResponse"/>
   </message>
   <message name="AcquireGenericServiceTicketRequestMsg">
      <part name="parameters" element="vim25:AcquireGenericServiceTicket"/>
   </message>
   <message name="AcquireGenericServiceTicketResponseMsg">
      <part name="parameters" element="vim25:AcquireGenericServiceTicketResponse"/>
   </message>
   <message name="RetrieveUserGroupsRequestMsg">
      <part name="parameters" element="vim25:RetrieveUserGroups"/>
   </message>
   <message name="RetrieveUserGroupsResponseMsg">
      <part name="parameters" element="vim25:RetrieveUserGroupsResponse"/>
   </message>
   <message name="CreateSnapshot_TaskRequestMsg">
      <part name="parameters" element="vim25:CreateSnapshot_Task"/>
   </message>
   <message name="CreateSnapshot_TaskResponseMsg">
      <part name="parameters" element="vim25:CreateSnapshot_TaskResponse"/>
   </message>
   <message name="FileFaultFaultMsg">
      <part name="fault" element="vim25:FileFaultFault"/>
   </message>
   <message name="GuestOperationsFaultFaultMsg">
      <part name="fault" element="vim25:GuestOperationsFaultFault"/>
   </message>
   <message name="InvalidDatastoreFaultMsg">
      <part name="fault" element="vim25:InvalidDatastoreFault"/>
   </message>
   <message name="InvalidLocaleFaultMsg">
      <part name="fault" element="vim25:InvalidLocaleFault"/>
   </message>
   <message name="InvalidLoginFaultMsg">
      <part name="fault" element="vim25:InvalidLoginFault"/>
   </message>
   <message name="InvalidNameFaultMsg">
      <part name="fault" element="vim25:InvalidNameFault"/>
   </message>
   <message name="InvalidStateFaultMsg">
      <part name="fault" element="vim25:InvalidStateFault"/>
   </message>
   <message name="NotFoundFaultMsg">
      <part name="fault" element="vim25:NotFoundFault"/>
   </message>
   <message name="SSPIChallengeFaultMsg">
      <part name="fault" element="vim25:SSPIChallengeFault"/>
   </message>
   <message name="SnapshotFaultFaultMsg">
      <part name="fault" element="vim25:SnapshotFaultFault"/>
   </message>
   <message name="TaskInProgressFaultMsg">
      <part name="fault" element="vim25:TaskInProgressFault"/>
   </message>
   <message name="VmConfigFaultFaultMsg">
      <part name="fault" element="vim25:VmConfigFaultFault"/>
   </message>
   <message name="SearchDatastore_TaskRequestMsg">
      <part name="parameters" element="vim25:SearchDatastore_Task"/>
   </message>
   <message name="SearchDatastore_TaskResponseMsg">
      <part name="parameters" element="vim25:SearchDatastore_TaskResponse"/>
   </message>
   <message name="RemoveSnapshot_TaskRequestMsg">
      <part name="parameters" element="vim25:RemoveSnapshot_Task"/>
   </message>
   <message name="RemoveSnapshot_TaskResponseMsg">
      <part name="parameters" element="vim25:RemoveSnapshot_TaskResponse"/>
   </message>
   <message name="AcquireCredentialsInGuestRequestMsg">
      <part name="parameters" element="vim25:AcquireCredentialsInGuest"/>
   </message>
   <message name="AcquireCredentialsInGuestResponseMsg">
      <part name="parameters" element="vim25:AcquireCredentialsInGuestResponse"/>
   </message>
   <message name="DeleteFileInGuestRequestMsg">
      <part name="parameters" element="vim25:DeleteFileInGuest"/>
   </message>
   <message name="DeleteFileInGuestResponseMsg">
      <part name="parameters" element="vim25:DeleteFileInGuestResponse"/>
   </message>
   <message name="MoveFileInGuestRequestMsg">
      <part name="parameters" element="vim25:MoveFileInGuest"/>
   </message>
   <message name="MoveFileInGuestResponseMsg">
      <part name="parameters" element="vim25:MoveFileInGuestResponse"/>
   </message>
   <message name="ListFilesInGuestRequestMsg">
      <part name="parameters" element="vim25:ListFilesInGuest"/>
   </message>
   <message name="ListFilesInGuestResponseMsg">
      <part name="parameters" element="vim25:ListFilesInGuestResponse"/>
   </message>
   <message name="InitiateFileTransferFromGuestRequestMsg">
      <part name="parameters" element="vim25:InitiateFileTransferFromGuest"/>
   </message>
   <message name="InitiateFileTransferFromGuestResponseMsg">
      <part name="parameters" element="vim25:InitiateFileTransferFromGuestResponse"/>
   </message>
   <message name="InitiateFileTransferToGuestRequestMsg">
      <part name="parameters" element="vim25:InitiateFileTransferToGuest"/>
   </message>
   <message name="InitiateFileTransferToGuestResponseMsg">
      <part name="parameters" element="vim25:InitiateFileTransferToGuestResponse"/>
   </message>
   <message name="StartProgramInGuestRequestMsg">
      <part name="parameters" element="vim25:StartProgramInGuest"/>
   </message>
   <message name="StartProgramInGuestResponseMsg">
      <part name="parameters" element="vim25:StartProgramInGuestResponse"/>
   </message>
   <message name="ListProcessesInGuestRequestMsg">
      <part name="parameters" element="vim25:ListProcessesInGuest"/>
   </message>
   <message name="ListProcessesInGuestResponseMsg">
      <part name="parameters" element="vim25:ListProcessesInGuestResponse"/>
   </message>
   <message name="RuntimeFaultFaultMsg">
      <part name="fault" element="vim25:RuntimeFaultFault"/>
   </message>
   <message name="InvalidPropertyFaultMsg">
      <part name="fault" element="vim25:InvalidPropertyFault"/>
   </message>
   <message name="RetrievePropertiesRequestMsg">
      <part name="parameters" element="vim25:RetrieveProperties"/>
   </message>
   <message name="RetrievePropertiesResponseMsg">
      <part name="parameters" element="vim25:RetrievePropertiesResponse"/>
   </message>
   <message name="RetrievePropertiesExRequestMsg">
      <part name="parameters" element="vim25:RetrievePropertiesEx"/>
   </message>
   <message name="RetrievePropertiesExResponseMsg">
      <part name="parameters" element="vim25:RetrievePropertiesExResponse"/>
   </message>
   <portType name="VimPortType">
      <operation name="FindByIp">
         <input message="vim25:FindByIpRequestMsg"/>
         <output message="vim25:FindByIpResponseMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="FindByInventoryPath">
         <input message="vim25:FindByInventoryPathRequestMsg"/>
         <output message="vim25:FindByInventoryPathResponseMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="FindChild">
         <input message="vim25:FindChildRequestMsg"/>
         <output message="vim25:FindChildResponseMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="FindAllByDnsName">
         <input message="vim25:FindAllByDnsNameRequestMsg"/>
         <output message="vim25:FindAllByDnsNameResponseMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="FindAllByIp">
         <input message="vim25:FindAllByIpRequestMsg"/>
         <output message="vim25:FindAllByIpResponseMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="RetrieveServiceContent">
         <input message="vim25:RetrieveServiceContentRequestMsg"/>
         <output message="vim25:RetrieveServiceContentResponseMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="Login">
         <input message="vim25:LoginRequestMsg"/>
         <output message="vim25:LoginResponseMsg"/>
         <fault name="InvalidLocaleFault" message="vim25:InvalidLocaleFaultMsg"/>
         <fault name="InvalidLoginFault" message="vim25:InvalidLoginFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="LoginBySSPI">
         <input message="vim25:LoginBySSPIRequestMsg"/>
         <output message="vim25:LoginBySSPIResponseMsg"/>
         <fault name="InvalidLocaleFault" message="vim25:InvalidLocaleFaultMsg"/>
         <fault name="InvalidLoginFault" message="vim25:InvalidLoginFaultMsg"/>
         <fault name="SSPIChallengeFault" message="vim25:SSPIChallengeFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="AcquireGenericServiceTicket">
         <input message="vim25:AcquireGenericServiceTicketRequestMsg"/>
         <output message="vim25:AcquireGenericServiceTicketResponseMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="RetrieveUserGroups">
         <input message="vim25:RetrieveUserGroupsRequestMsg"/>
         <output message="vim25:RetrieveUserGroupsResponseMsg"/>
         <fault name="NotFoundFault" message="vim25:NotFoundFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="CreateSnapshot_Task">
         <input message="vim25:CreateSnapshot_TaskRequestMsg"/>
         <output message="vim25:CreateSnapshot_TaskResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="InvalidNameFault" message="vim25:InvalidNameFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="SnapshotFaultFault" message="vim25:SnapshotFaultFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="VmConfigFaultFault" message="vim25:VmConfigFaultFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="SearchDatastore_Task">
         <input message="vim25:SearchDatastore_TaskRequestMsg"/>
         <output message="vim25:SearchDatastore_TaskResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="InvalidDatastoreFault" message="vim25:InvalidDatastoreFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="RemoveSnapshot_Task">
         <input message="vim25:RemoveSnapshot_TaskRequestMsg"/>
         <output message="vim25:RemoveSnapshot_TaskResponseMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="AcquireCredentialsInGuest">
         <input message="vim25:AcquireCredentialsInGuestRequestMsg"/>
         <output message="vim25:AcquireCredentialsInGuestResponseMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="DeleteFileInGuest">
         <input message="vim25:DeleteFileInGuestRequestMsg"/>
         <output message="vim25:DeleteFileInGuestResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="MoveFileInGuest">
         <input message="vim25:MoveFileInGuestRequestMsg"/>
         <output message="vim25:MoveFileInGuestResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="ListFilesInGuest">
         <input message="vim25:ListFilesInGuestRequestMsg"/>
         <output message="vim25:ListFilesInGuestResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="InitiateFileTransferFromGuest">
         <input message="vim25:InitiateFileTransferFromGuestRequestMsg"/>
         <output message="vim25:InitiateFileTransferFromGuestResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="InitiateFileTransferToGuest">
         <input message="vim25:InitiateFileTransferToGuestRequestMsg"/>
         <output message="vim25:InitiateFileTransferToGuestResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="StartProgramInGuest">
         <input message="vim25:StartProgramInGuestRequestMsg"/>
         <output message="vim25:StartProgramInGuestResponseMsg"/>
         <fault name="FileFaultFault" message="vim25:FileFaultFaultMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="ListProcessesInGuest">
         <input message="vim25:ListProcessesInGuestRequestMsg"/>
         <output message="vim25:ListProcessesInGuestResponseMsg"/>
         <fault name="GuestOperationsFaultFault" message="vim25:GuestOperationsFaultFaultMsg"/>
         <fault name="InvalidStateFault" message="vim25:InvalidStateFaultMsg"/>
         <fault name="TaskInProgressFault" message="vim25:TaskInProgressFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="RetrieveProperties">
         <input message="vim25:RetrievePropertiesRequestMsg"/>
         <output message="vim25:RetrievePropertiesResponseMsg"/>
         <fault name="InvalidPropertyFault" message="vim25:InvalidPropertyFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      <operation name="RetrievePropertiesEx">
         <input message="vim25:RetrievePropertiesExRequestMsg"/>
         <output message="vim25:RetrievePropertiesExResponseMsg"/>
         <fault name="InvalidPropertyFault" message="vim25:InvalidPropertyFaultMsg"/>
         <fault name="RuntimeFault" message="vim25:RuntimeFaultFaultMsg"/>
      </operation>
      </portType>
   <binding name="VimBinding" type="vim25:VimPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="FindByIp">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="FindByInventoryPath">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="FindChild">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="FindAllByDnsName">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="FindAllByIp">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="RetrieveServiceContent">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="Login">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="InvalidLocaleFault">
            <soap:fault name="InvalidLocaleFault" use="literal"/>
         </fault>
         <fault name="InvalidLoginFault">
            <soap:fault name="InvalidLoginFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="LoginBySSPI">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="InvalidLocaleFault">
            <soap:fault name="InvalidLocaleFault" use="literal"/>
         </fault>
         <fault name="InvalidLoginFault">
            <soap:fault name="InvalidLoginFault" use="literal"/>
         </fault>
         <fault name="SSPIChallengeFault">
            <soap:fault name="SSPIChallengeFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="AcquireGenericServiceTicket">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="RetrieveUserGroups">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="NotFoundFault">
            <soap:fault name="NotFoundFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="CreateSnapshot_Task">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidNameFault">
            <soap:fault name="InvalidNameFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="SnapshotFaultFault">
            <soap:fault name="SnapshotFaultFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="VmConfigFaultFault">
            <soap:fault name="VmConfigFaultFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="SearchDatastore_Task">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidDatastoreFault">
            <soap:fault name="InvalidDatastoreFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="RemoveSnapshot_Task">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="AcquireCredentialsInGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="DeleteFileInGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="MoveFileInGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="ListFilesInGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="InitiateFileTransferFromGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="InitiateFileTransferToGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="StartProgramInGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FileFaultFault">
            <soap:fault name="FileFaultFault" use="literal"/>
         </fault>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="ListProcessesInGuest">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="GuestOperationsFaultFault">
            <soap:fault name="GuestOperationsFaultFault" use="literal"/>
         </fault>
         <fault name="InvalidStateFault">
            <soap:fault name="InvalidStateFault" use="literal"/>
         </fault>
         <fault name="TaskInProgressFault">
            <soap:fault name="TaskInProgressFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="RetrieveProperties">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="InvalidPropertyFault">
            <soap:fault name="InvalidPropertyFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      <operation name="RetrievePropertiesEx">
         <soap:operation soapAction="urn:vim25/7.0.0.0" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="InvalidPropertyFault">
            <soap:fault name="InvalidPropertyFault" use="literal"/>
         </fault>
         <fault name="RuntimeFault">
            <soap:fault name="RuntimeFault" use="literal"/>
         </fault>
      </operation>
      </binding>
</definitions>
